body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
  
  /* Toggle Styles */
#viewport {
    padding-left: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
  
#content {
    width: 100%;
    position: relative;
    margin-right: 0;
}
  