body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
  
  /* Toggle Styles */
#viewport {
    padding-left: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
  
#content {
    width: 100%;
    position: relative;
    margin-right: 0;
}


/* Sidebar Styles */

#sidebar {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #37474F;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: fixed;
    z-index: 1;
    top: 0;
}
  
#sidebar header {
    background-color: #263238;
    font-size: 20px;
    line-height: 52px;
    text-align: center;
    font-family: 'Nuosu SIL', serif;
}
  
#sidebar header a {
    color: #fff;
    display: block;
    text-decoration: none;
  
}
  
#sidebar header a:hover {
    color: #fff;
}
  
  
ul li {
    padding: 5px;
    cursor: pointer;
    margin-left: 10px;
    }
  
ul {
    padding: 0;
    }
    
li {
    list-style: none;
    font-family: 'Nuosu SIL', serif;
    color: #ffff;
    }
ul li:hover {
    background-color: #263238;
}
  

/*--Card Styling*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;    
    text-align: center;
    margin-left: 35%;
    margin-top: 40px;
    border-radius: 60px;   
         
}
    
.title {
    color: grey;
    font-size: 18px;
    font-family: 'Nuosu SIL', serif;
}
    
.like{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color:#37474F;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-bottom-left-radius: 55px;
    border-bottom-right-radius:55px ;
      
}   
img{
      border-radius: 20%;
 }
.location{
    font-family: 'Nuosu SIL', serif;
    letter-spacing:0.1rem;
  
}
  
button:hover{
    background-color:indianred;
}
  
  
.likes{
    font-weight: bolder;
}